.note{
    max-width: 26em; 
    border: none;
}

details {
    background: cornflowerblue;
    padding: 1em;
    border: 1px solid hsla(162, 76%, 32%, .3);
    color: black;
    border-radius: 5px; 
} 

details > p {
    background: white;
    padding: 0.5em 0.7em;
    border-radius: 5px;
    box-shadow: 1px 1px 3px hsla(162, 76%, 32%, .2);
    font-size: 1em;
    margin-top: -0.5em;
    color: dimgrey;
}

.label-style{
    margin-top: 0.2em;
    margin-left: 0.3em;
    color: dimgrey;
}

.summary-margin{
    margin-bottom: 0.4em;
}
.back{
    margin-top: 0.8em;
    background: powderblue;
    border-radius: 5px;
}

.font{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

