.singUpForm-size{
    max-width: 30em;
    border: none;
    padding-left: 0;
    padding-right: 0;
    margin-top: 3em;
}

.singUpForm-header{
    margin: auto;
    background-color: cornflowerblue;
    border-radius: 0.2em;
}

.font{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.singUpForm-font{
    font-size: 2em;
    color: whitesmoke;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-inline-start: 6em;
}

.singUpForm-label{
    color: whitesmoke
}

.singUpForm-color{
    background-color: #333;
}

.singUpForm-space{
    margin: 3em 1em;
}

.spaace{
    margin-top: 2em;
}
