.art-img-size{
    height: 24em;
    width: 15.5em;
    margin: 0.5em 0.4em;
    border-radius: 0.5em;
}
.art-img-size:hover{
    border: solid 0.2em azure; 
    box-shadow: 1px 3px 4px steelblue;
}

