.profileInfo-head-img{
    height: 9em;
    width: 100%;
}

.float-left{
    float: left;
}

.float-rigth{
    float: right;
}

.profileInfo-followButton{
    margin-right: 1em;
    margin-top: 6em;
    color: whitesmoke;
    background: crimson;
    padding-left: 2em;
    padding-right: 2em;
}

.profileInfo-followButton:hover{
    color: whitesmoke;
    background: darkred;
}

.profileInfo-aboutButton{
    margin-right: 1em;
    margin-top: 6em;
    color: whitesmoke;
    background: yellowgreen;
    padding-left: 2em;
    padding-right: 2em;
}

.profileInfo-aboutButton:hover{
    color: whitesmoke;
    background: olivedrab;
}

.profileInfo-profileFile{
    margin: 0em 2em;
    display: block;
}

.profileInfo-username{
    font-size: 2.5em;
    margin-top: 2em;
    margin-bottom: 0;
    margin-inline-start: 1.5em;
}

.profileInfo-details{
    font-size: 1em;
    color: gray;
   
}

.profileInfo-upload{
    margin-right: 1em;
    margin-top: 6em;
    color: darkblue;
    background: none;
    border: solid 1px darkblue;
    padding-left: 2em;
    padding-right: 2em;
}
