.img-size{
    height: 46em;
    width: 40em;
    margin: 1em;
    margin-top: 2em;
    border-radius: 10px; 
}

.info{
    float: right;
    margin: 1em;
    margin-top: 2em;
}

.close{
    float: right;
}

.max{
    max-width: 75em; 
    margin-bottom: 2em;
    margin-top: 2em;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.style{
    background: lightsteelblue;
    box-shadow: 1px 3px 4px steelblue;
}