.img-size{
    height: 40em;
    width: 32em;
    margin: 1em;
    margin-top: 2em;
    border-radius: 10px; 
}

.info{
    float: right;
    margin: 1em;
    margin-top: 2em;
}

.close{
    float: right;
}

.max{
    max-width: 65em; 
    margin-bottom: 2em;
    margin-top: 2em;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.style{
    background: whitesmoke;
    box-shadow: 1px 3px 4px steelblue;
}

.modal{
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: block
}