.saveButton{
    margin: 0.6em 0.9em;
    width: 19em;
}

.browser-button{
    background: white;
    width: 32em;
    height: 3em;
    border: solid 1px paleturquoise;
    border-radius: 5px;
    margin: 0.5em 1em;
}

.editableDetailsArtPage-uploadButton{
    margin: 0em 1em;
    padding-right: 13.1em;
    padding-left: 13.1em;
}

.editableDetailsArtPage-upload{
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.editableDetailsArtPage-upload input[type=file]{
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
