.aboutProfile-picture{
    margin-inline-start: 27%;
}

.aboutProfile-container{
    max-width: 35%;
    max-height: 80%;
    border: none;
    border-radius: 0.2em;
    margin: auto;
    margin-top: 4em;
    background-color: #333;
}

.aboutProfile-head{
    background-color: cornflowerblue;
    border-radius: 0.2em 0.2em 0.1em 0.1em;
    margin: 0.6em 0em;
}

.aboutProfile-p{
    color: whitesmoke;
    font-size: 2em;
    margin-inline-start: 42%;
}