.artBox-container{
    border: solid 2px whitesmoke;
    border-radius: 0.5em;
    max-width: 82.5em;
    margin: 0em 1em 0em 1em;
    background-color: #333;
}

.artBox-row{
    margin: 1em 1.3em 0em 1.1em;
    background-color: cornflowerblue;
    border-radius: 0.2em;
}

.artBox-font{
    font-size: 1.9em;
    color: whitesmoke;
    margin: 0em 18em;
}

.artBox-button{
    float: left;
    background-color: cornflowerblue;
    border: none;
    font-size: 2em;
    color: whitesmoke;
    height: 1.4em;
}

.artBox-newButton{
    float: right;
    margin: 0.23em 0.4em;
    color: dodgerblue;
}

.artBox-newButton:hover{
    background-color: azure;
    color: gray
} 