.font{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rigth{
    float: right;
    margin: 0.5em;
}

.left{
    float: left;
}

.list{
    list-style-type: none; 
}

.item{
    font-size: 1.1em;
    padding: 1.6em 2.6em;
    display: block;
}

.box{
    background-color: #333;
    overflow: hidden;
}

.logo{
    padding: 1.1em 1.5em;
    font-size: 1.4em;
}

.decoration{
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    background-color: #111;
    text-decoration: none;
    color: dodgerblue;
}

.active{
    background-color: dodgerblue;
}

